//The sass watch command auto generates the css and css.map for this file, however this file is meant to be imported so the css files will never be used, those files may be deletet at any point

//highly modified version of https://www.w3schools.com/howto/howto_css_menu_icon.asp

@import 'palette.scss';

.hamburger-icon{
  .bar1, .bar2, .bar3, .bar4{
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: color(4);
    transition: 0.4s;
  }
  .bar2, .bar3{
    position: absolute;
    left: calc(50% - 35px/2);
    margin-top: 6px;
  }
  .bar4{
    margin-top: 18px;
    margin-bottom: 0;
  }

  //animation
  &.opened{
    .bar1, .bar4 {
      opacity: 0;
    }

    .bar2 {
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
    }

    .bar3 {
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
    }
  }
}
